body {
    padding: 100px;
    background-color: rgb(240, 188, 188)
}


/* .bank-title {
    text-align: center;
} bootstrap a o same class ase so amta oyta use korte pari
*/

.submit-area {
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}