body {
    padding: 100px;
    background-color: rgb(255, 255, 255)
}


/* .bank-title {
    text-align: center;
} bootstrap a o same class ase so amta oyta use korte pari
*/

.submit-area {
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: #fff
}

h1 {
    color: aqua;
}

#transaction-area {
    display: none;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}